@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&display=swap");

.plasmic_tokens {
  --token-3iTq0aMpRQD9: 1280px;
  --plasmic-token-inner-container: var(--token-3iTq0aMpRQD9);
  --token-RbhBL57O0dRG: 1px;
  --plasmic-token-unnamed-style-token: var(--token-RbhBL57O0dRG);
  --token-WCnuaOeAdXhu: #d1387c;
  --plasmic-token-pink: var(--token-WCnuaOeAdXhu);
  --token-GnafrhYofBZi: #b3294d;
  --plasmic-token-red: var(--token-GnafrhYofBZi);
  --token-ARXwGxvwJWOV: #1d1d21;
  --plasmic-token-black: var(--token-ARXwGxvwJWOV);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-U4jcPeQUsBUJ_font-family: "Inter", sans-serif;
  --mixin-U4jcPeQUsBUJ_font-size: 16px;
  --mixin-U4jcPeQUsBUJ_font-weight: 400;
  --mixin-U4jcPeQUsBUJ_font-style: normal;
  --mixin-U4jcPeQUsBUJ_color: #4f4f4f;
  --mixin-U4jcPeQUsBUJ_text-align: left;
  --mixin-U4jcPeQUsBUJ_text-transform: none;
  --mixin-U4jcPeQUsBUJ_line-height: 1.5;
  --mixin-U4jcPeQUsBUJ_letter-spacing: normal;
  --mixin-U4jcPeQUsBUJ_white-space: pre-wrap;
  --mixin-U4jcPeQUsBUJ_user-select: text;
  --mixin-U4jcPeQUsBUJ_text-decoration-line: none;
  --mixin-U4jcPeQUsBUJ_text-overflow: clip;
  --mixin-4wUYxiS7DDyY_color: #4f4f4f;
  --mixin-4wUYxiS7DDyY_font-weight: 900;
  --mixin-4wUYxiS7DDyY_font-size: 72px;
  --mixin-4wUYxiS7DDyY_line-height: 1;
  --mixin-4wUYxiS7DDyY_letter-spacing: -4px;
  --mixin-4wUYxiS7DDyY_font-family: "Inter", sans-serif;
  --mixin-4wUYxiS7DDyY_white-space: pre-wrap;
  --mixin--r3QAXyQyesQ_color: #4f4f4f;
  --mixin--r3QAXyQyesQ_font-size: 50px;
  --mixin--r3QAXyQyesQ_font-weight: 700;
  --mixin--r3QAXyQyesQ_letter-spacing: -1px;
  --mixin--r3QAXyQyesQ_line-height: 1.1;
  --mixin--r3QAXyQyesQ_font-family: "Inter", sans-serif;
  --mixin--r3QAXyQyesQ_white-space: pre-wrap;
  --mixin-owrBrroZpt5g_color: #0070f3;
  --mixin-owrBrroZpt5g_white-space: pre-wrap;
  --mixin-h6QZKc8TVRRt_color: #4f4f4f;
  --mixin-h6QZKc8TVRRt_font-size: 32px;
  --mixin-h6QZKc8TVRRt_font-weight: 700;
  --mixin-h6QZKc8TVRRt_letter-spacing: -0.8px;
  --mixin-h6QZKc8TVRRt_line-height: 1.2;
  --mixin-h6QZKc8TVRRt_font-family: "Inter", sans-serif;
  --mixin-h6QZKc8TVRRt_white-space: pre-wrap;
  --mixin--VSsfSEi1nBB_color: #000000;
  --mixin--VSsfSEi1nBB_font-size: 24px;
  --mixin--VSsfSEi1nBB_font-weight: 600;
  --mixin--VSsfSEi1nBB_letter-spacing: -0.5px;
  --mixin--VSsfSEi1nBB_line-height: 1.3;
  --mixin--VSsfSEi1nBB_white-space: pre-wrap;
  --mixin-kY8oqjGttphV_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-kY8oqjGttphV_border-bottom-color: #dddddd;
  --mixin-kY8oqjGttphV_border-bottom-style: solid;
  --mixin-kY8oqjGttphV_border-bottom-width: 1px;
  --mixin-kY8oqjGttphV_border-left-color: #dddddd;
  --mixin-kY8oqjGttphV_border-left-style: solid;
  --mixin-kY8oqjGttphV_border-left-width: 1px;
  --mixin-kY8oqjGttphV_border-right-color: #dddddd;
  --mixin-kY8oqjGttphV_border-right-style: solid;
  --mixin-kY8oqjGttphV_border-right-width: 1px;
  --mixin-kY8oqjGttphV_border-top-color: #dddddd;
  --mixin-kY8oqjGttphV_border-top-style: solid;
  --mixin-kY8oqjGttphV_border-top-width: 1px;
  --mixin-kY8oqjGttphV_border-bottom-left-radius: 3px;
  --mixin-kY8oqjGttphV_border-bottom-right-radius: 3px;
  --mixin-kY8oqjGttphV_border-top-left-radius: 3px;
  --mixin-kY8oqjGttphV_border-top-right-radius: 3px;
  --mixin-kY8oqjGttphV_font-family: "Inconsolata";
  --mixin-kY8oqjGttphV_padding-bottom: 1px;
  --mixin-kY8oqjGttphV_padding-left: 4px;
  --mixin-kY8oqjGttphV_padding-right: 4px;
  --mixin-kY8oqjGttphV_padding-top: 1px;
  --mixin-kY8oqjGttphV_white-space: pre-wrap;
  --mixin-fn1vf8qJ9VgO_border-left-color: #dddddd;
  --mixin-fn1vf8qJ9VgO_border-left-style: solid;
  --mixin-fn1vf8qJ9VgO_border-left-width: 3px;
  --mixin-fn1vf8qJ9VgO_color: #888888;
  --mixin-fn1vf8qJ9VgO_padding-left: 10px;
  --mixin-fn1vf8qJ9VgO_white-space: pre-wrap;
  --mixin-kRlqQNLesjFn_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-kRlqQNLesjFn_border-bottom-color: #dddddd;
  --mixin-kRlqQNLesjFn_border-bottom-style: solid;
  --mixin-kRlqQNLesjFn_border-bottom-width: 1px;
  --mixin-kRlqQNLesjFn_border-left-color: #dddddd;
  --mixin-kRlqQNLesjFn_border-left-style: solid;
  --mixin-kRlqQNLesjFn_border-left-width: 1px;
  --mixin-kRlqQNLesjFn_border-right-color: #dddddd;
  --mixin-kRlqQNLesjFn_border-right-style: solid;
  --mixin-kRlqQNLesjFn_border-right-width: 1px;
  --mixin-kRlqQNLesjFn_border-top-color: #dddddd;
  --mixin-kRlqQNLesjFn_border-top-style: solid;
  --mixin-kRlqQNLesjFn_border-top-width: 1px;
  --mixin-kRlqQNLesjFn_border-bottom-left-radius: 3px;
  --mixin-kRlqQNLesjFn_border-bottom-right-radius: 3px;
  --mixin-kRlqQNLesjFn_border-top-left-radius: 3px;
  --mixin-kRlqQNLesjFn_border-top-right-radius: 3px;
  --mixin-kRlqQNLesjFn_font-family: "Inconsolata";
  --mixin-kRlqQNLesjFn_padding-bottom: 3px;
  --mixin-kRlqQNLesjFn_padding-left: 6px;
  --mixin-kRlqQNLesjFn_padding-right: 6px;
  --mixin-kRlqQNLesjFn_padding-top: 3px;
  --mixin-kRlqQNLesjFn_white-space: pre-wrap;
  --mixin-moERk7oYzN3F_display: flex;
  --mixin-moERk7oYzN3F_flex-direction: column;
  --mixin-moERk7oYzN3F_align-items: stretch;
  --mixin-moERk7oYzN3F_justify-content: flex-start;
  --mixin-moERk7oYzN3F_list-style-position: outside;
  --mixin-moERk7oYzN3F_padding-left: 40px;
  --mixin-moERk7oYzN3F_position: relative;
  --mixin-moERk7oYzN3F_list-style-type: disc;
  --mixin-moERk7oYzN3F_white-space: pre-wrap;
  --mixin-juMWf-8XvlO9_display: flex;
  --mixin-juMWf-8XvlO9_flex-direction: column;
  --mixin-juMWf-8XvlO9_align-items: stretch;
  --mixin-juMWf-8XvlO9_justify-content: flex-start;
  --mixin-juMWf-8XvlO9_list-style-position: outside;
  --mixin-juMWf-8XvlO9_padding-left: 40px;
  --mixin-juMWf-8XvlO9_position: relative;
  --mixin-juMWf-8XvlO9_list-style-type: decimal;
  --mixin-juMWf-8XvlO9_white-space: pre-wrap;
  --mixin-wG4Yucqym17w_color: #000000;
  --mixin-wG4Yucqym17w_font-size: 20px;
  --mixin-wG4Yucqym17w_font-weight: 600;
  --mixin-wG4Yucqym17w_letter-spacing: -0.3px;
  --mixin-wG4Yucqym17w_line-height: 1.5;
  --mixin-wG4Yucqym17w_white-space: pre-wrap;
  --mixin-SxWk4OF1QTrU_color: #000000;
  --mixin-SxWk4OF1QTrU_font-size: 16px;
  --mixin-SxWk4OF1QTrU_font-weight: 600;
  --mixin-SxWk4OF1QTrU_line-height: 1.5;
  --mixin-SxWk4OF1QTrU_white-space: pre-wrap;
  --mixin-FgLV8256D2-__color: #3291ff;
  --mixin-FgLV8256D2-__white-space: pre-wrap;
  --mixin-HwJVEC4hSIuy_white-space: pre-wrap;
  --mixin-TMj2l7Mm1BWb_white-space: pre-wrap;
}

.plasmic_mixins {
  --mixin-IheInDiBOIzc_white-space: pre-wrap;
  --plasmic-mixin-nav-menu_white-space: var(--mixin-IheInDiBOIzc_white-space);
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-U4jcPeQUsBUJ_font-family);
  font-size: var(--mixin-U4jcPeQUsBUJ_font-size);
  font-weight: var(--mixin-U4jcPeQUsBUJ_font-weight);
  font-style: var(--mixin-U4jcPeQUsBUJ_font-style);
  color: var(--mixin-U4jcPeQUsBUJ_color);
  text-align: var(--mixin-U4jcPeQUsBUJ_text-align);
  text-transform: var(--mixin-U4jcPeQUsBUJ_text-transform);
  line-height: var(--mixin-U4jcPeQUsBUJ_line-height);
  letter-spacing: var(--mixin-U4jcPeQUsBUJ_letter-spacing);
  white-space: var(--mixin-U4jcPeQUsBUJ_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-4wUYxiS7DDyY_color);
  font-weight: var(--mixin-4wUYxiS7DDyY_font-weight);
  font-size: var(--mixin-4wUYxiS7DDyY_font-size);
  line-height: var(--mixin-4wUYxiS7DDyY_line-height);
  letter-spacing: var(--mixin-4wUYxiS7DDyY_letter-spacing);
  font-family: var(--mixin-4wUYxiS7DDyY_font-family);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin--r3QAXyQyesQ_color);
  font-size: var(--mixin--r3QAXyQyesQ_font-size);
  font-weight: var(--mixin--r3QAXyQyesQ_font-weight);
  letter-spacing: var(--mixin--r3QAXyQyesQ_letter-spacing);
  line-height: var(--mixin--r3QAXyQyesQ_line-height);
  font-family: var(--mixin--r3QAXyQyesQ_font-family);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-owrBrroZpt5g_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-h6QZKc8TVRRt_color);
  font-size: var(--mixin-h6QZKc8TVRRt_font-size);
  font-weight: var(--mixin-h6QZKc8TVRRt_font-weight);
  letter-spacing: var(--mixin-h6QZKc8TVRRt_letter-spacing);
  line-height: var(--mixin-h6QZKc8TVRRt_line-height);
  font-family: var(--mixin-h6QZKc8TVRRt_font-family);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin--VSsfSEi1nBB_color);
  font-size: var(--mixin--VSsfSEi1nBB_font-size);
  font-weight: var(--mixin--VSsfSEi1nBB_font-weight);
  letter-spacing: var(--mixin--VSsfSEi1nBB_letter-spacing);
  line-height: var(--mixin--VSsfSEi1nBB_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-kY8oqjGttphV_font-family);
  border-radius: var(--mixin-kY8oqjGttphV_border-top-left-radius)
    var(--mixin-kY8oqjGttphV_border-top-right-radius)
    var(--mixin-kY8oqjGttphV_border-bottom-right-radius)
    var(--mixin-kY8oqjGttphV_border-bottom-left-radius);
  padding: var(--mixin-kY8oqjGttphV_padding-top)
    var(--mixin-kY8oqjGttphV_padding-right)
    var(--mixin-kY8oqjGttphV_padding-bottom)
    var(--mixin-kY8oqjGttphV_padding-left);
  border-top: var(--mixin-kY8oqjGttphV_border-top-width)
    var(--mixin-kY8oqjGttphV_border-top-style)
    var(--mixin-kY8oqjGttphV_border-top-color);
  border-right: var(--mixin-kY8oqjGttphV_border-right-width)
    var(--mixin-kY8oqjGttphV_border-right-style)
    var(--mixin-kY8oqjGttphV_border-right-color);
  border-bottom: var(--mixin-kY8oqjGttphV_border-bottom-width)
    var(--mixin-kY8oqjGttphV_border-bottom-style)
    var(--mixin-kY8oqjGttphV_border-bottom-color);
  border-left: var(--mixin-kY8oqjGttphV_border-left-width)
    var(--mixin-kY8oqjGttphV_border-left-style)
    var(--mixin-kY8oqjGttphV_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-fn1vf8qJ9VgO_color);
  padding-left: var(--mixin-fn1vf8qJ9VgO_padding-left);
  border-left: var(--mixin-fn1vf8qJ9VgO_border-left-width)
    var(--mixin-fn1vf8qJ9VgO_border-left-style)
    var(--mixin-fn1vf8qJ9VgO_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-kRlqQNLesjFn_font-family);
  border-radius: var(--mixin-kRlqQNLesjFn_border-top-left-radius)
    var(--mixin-kRlqQNLesjFn_border-top-right-radius)
    var(--mixin-kRlqQNLesjFn_border-bottom-right-radius)
    var(--mixin-kRlqQNLesjFn_border-bottom-left-radius);
  padding: var(--mixin-kRlqQNLesjFn_padding-top)
    var(--mixin-kRlqQNLesjFn_padding-right)
    var(--mixin-kRlqQNLesjFn_padding-bottom)
    var(--mixin-kRlqQNLesjFn_padding-left);
  border-top: var(--mixin-kRlqQNLesjFn_border-top-width)
    var(--mixin-kRlqQNLesjFn_border-top-style)
    var(--mixin-kRlqQNLesjFn_border-top-color);
  border-right: var(--mixin-kRlqQNLesjFn_border-right-width)
    var(--mixin-kRlqQNLesjFn_border-right-style)
    var(--mixin-kRlqQNLesjFn_border-right-color);
  border-bottom: var(--mixin-kRlqQNLesjFn_border-bottom-width)
    var(--mixin-kRlqQNLesjFn_border-bottom-style)
    var(--mixin-kRlqQNLesjFn_border-bottom-color);
  border-left: var(--mixin-kRlqQNLesjFn_border-left-width)
    var(--mixin-kRlqQNLesjFn_border-left-style)
    var(--mixin-kRlqQNLesjFn_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-moERk7oYzN3F_display);
  flex-direction: var(--mixin-moERk7oYzN3F_flex-direction);
  align-items: var(--mixin-moERk7oYzN3F_align-items);
  justify-content: var(--mixin-moERk7oYzN3F_justify-content);
  list-style-position: var(--mixin-moERk7oYzN3F_list-style-position);
  padding-left: var(--mixin-moERk7oYzN3F_padding-left);
  position: var(--mixin-moERk7oYzN3F_position);
  list-style-type: var(--mixin-moERk7oYzN3F_list-style-type);
  flex-column-gap: var(--mixin-moERk7oYzN3F_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-juMWf-8XvlO9_display);
  flex-direction: var(--mixin-juMWf-8XvlO9_flex-direction);
  align-items: var(--mixin-juMWf-8XvlO9_align-items);
  justify-content: var(--mixin-juMWf-8XvlO9_justify-content);
  list-style-position: var(--mixin-juMWf-8XvlO9_list-style-position);
  padding-left: var(--mixin-juMWf-8XvlO9_padding-left);
  position: var(--mixin-juMWf-8XvlO9_position);
  list-style-type: var(--mixin-juMWf-8XvlO9_list-style-type);
  flex-column-gap: var(--mixin-juMWf-8XvlO9_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-wG4Yucqym17w_color);
  font-size: var(--mixin-wG4Yucqym17w_font-size);
  font-weight: var(--mixin-wG4Yucqym17w_font-weight);
  letter-spacing: var(--mixin-wG4Yucqym17w_letter-spacing);
  line-height: var(--mixin-wG4Yucqym17w_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-SxWk4OF1QTrU_color);
  font-size: var(--mixin-SxWk4OF1QTrU_font-size);
  font-weight: var(--mixin-SxWk4OF1QTrU_font-weight);
  line-height: var(--mixin-SxWk4OF1QTrU_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-FgLV8256D2-__color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
